$pink           : #f08e88;
$brown          : #422d09;
$green          : #468d5e;
$yellow         : #ac7c36;
$gray           : #e3e2df;


$gray-shadow:  #b5b4b2;


$theme-colors: (
  "primary": #468d5e,
  "danger": #f08e88
);


$primary: #1E79C7;
$secondary: #E5681A;

:export {
  primary: $primary;
  secondary: $secondary;
}

.btn-primary:not(:disabled):not(.disabled):active{
    color: #fff; 
    background-color: $green;
    border-color: $green;
}
// .bg-pills{
//     background-color: $green;
// }

.pink-button{
    background-color: white;
    //box-shadow: 2px 2px 2px 2px $pink;
    border: 2px solid $pink;
    color: black;
    border: none;
}

.brown-button{
    background-color: $brown;
    color: $gray;
}

// .green-button{
//     color: black;
//     border: none;
//     //box-shadow: 2px 2px 2px 2px $green;
//     border: 2px solid $green;
//     background-color: white;
// }
// .green-button:hover{
//     text-decoration: none;
//     background-color:$green;
//     color: black;
// }

// .green-button>a{
//     text-decoration: none;
//     background-color:$green;
// }

.yellow-button{
    background-color: $yellow ;
    color: $gray;
}


.background-white{
      background-color: white;
}


.background-pink{
    background-color: $pink;
}
.background-brown{
    background-color: $brown;
}
.background-green{
    background-color: $green;
}
.background-yellow{
    background-color: $yellow;
}
.background-gray{
    background-color: $gray;
}


