@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


// Font Variables
//$hand: 'Homemade Apple', cursive;
$montserrat: 'Montserrat', sans-serif;
$hand: 'Sacramento', cursive;
// Styles
h1 {
  font-family: $hand;
  font-weight: normal;
  font-size:45px;
}
h3 {
  font-family: $hand;
  font-weight: normal;
  //font-size:45px;
}
h4{
  font-family: $montserrat;
  font-size: 2vw;
  //font-size:45px; 
}

h2 {
  font-family: $hand;
  font-weight: normal;
  font-size:40px;
}


.text-plain{

    font-family:$montserrat;
    
}

.title-web{
    font-family:$hand;
    font-weight:bold;
    font-size:90px;
    margin-top:10%;
}
.pre-text{
    font-family:$montserrat;
    font-size:35px;
    margin-top:2%;

}

.button-text{
    font-family:$hand;
    
}