@import "colors";
@import "fonts";

.white-bg{
    background-color: white;
}
.accordion{
    background-color: white;
    border: none;
    border-radius: 5px;
}
.accord-container{
    // box-shadow: 2px 2px 2px 2px $pink;
    border: 2px solid $pink;
    border-radius: 6px;
}
.menu-title{
    color: black;
    border: none;
    border-radius: none;
    // box-shadow: 2px 2px 2px 2px $green;
    border: 2px solid $green;
    background-color: white;
}

