.footer{
   height:100vw;
    background-image:url("../img/wave.png");
    background-size: cover;
     opacity: 0.9;
     background-repeat: repeat;
     //segun el tamaño pantalla se ve o no se ve

}