@import "colors";
@import "fonts";

.navbar {
    background-color: $gray;
    font-family: $montserrat;

    img{
        height: 5vw;
    }
    h2 {
        font-size: 2vw;
    }
    .dropdown-basic::after {
    display:none;
    }
}
