@import "colors";
@import "fonts";

.navbar {
    background-color: white;
    font-family: $montserrat;

    img{
        height: 4vw;
        margin-top: 1vw;
    }
    h2 {
        font-size: 2vw;
    }
    .dropdown-basic::after {
    display:none;
    }
}

.navbar-container{
    width: 85%;
    height:100%;
    margin:auto;
    margin-top:0;
}

.user-button{
    border-radius: 50%;
    border: none;
    width: 4vw;
    height: 4vw;
    margin-top:1vw;
    text-align: center;
    line-height: 5vw;
    margin: auto;
    font-family: $montserrat;
    font-size: 19px;
    color:black;
        border: 2px solid $pink;
    padding: 2px;
    //box-shadow: 1px 2px 2px 2px $pink;
    background-image: url("https://images.unsplash.com/photo-1571680322279-a226e6a4cc2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=805&q=80"); /* La imagen y su ruta */   
    opacity:0.6;
    background-size: cover; /* Usamos cover para que nuestra imagen no se deforme al adaptarse a cada pantalla */
    background-position: center; /* Para centrar la imagen horizontal y verticalmente en el contenedor */
    background-repeat: no-repeat; /* Para que no repita la imagen */
}


