@import "home";
@import "colors";
@import "fonts";

body{
    background-color: $pink;
}
.weekplan{
    display: flex;
    border-radius: 5px;
    padding: 5px;
    background-color: $gray;
}
.day-circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: auto;
    font-family: $montserrat;
    font-size: 1.5vw;
}
.weekplan-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.weekplan-btn{
    border-radius: 5px;
    margin: 2%;
    font-family: $montserrat;
    background-color: $green;
    color: $gray;
}
.btns-bar-body{
    display: flex;
    margin-top: 3%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    justify-content: space-between;  
    font-family: $montserrat;
}
.bar-body-dropdown{
    border-radius: $border-radius;
    margin: 2px;
    width: 30%;
    font-family: $montserrat;
    background-color: $gray;
}
.results-body{
    display: flex;
    text-align: center;
    line-height: 15vw;
    position: relative;
    font-family: $montserrat;
    

    .results-search{
    border-radius: $border-radius;
    margin-top: 3%;
    margin-right: 0.5%;
    height: 15vw;
    background-color: #FFFFFF;
    }
    .display-receipt{
    display: flex;
    border-radius: $border-radius;
    margin-top: 3%;
    height: 15vw;
    width: 100%;
    font-family: $montserrat;
    background-color: #FFFFFF;

        .create-receipt-btn{
        background: $green;
        color: $gray;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
        position: absolute;
        top: 2;
        right: 0;
        }
        .dragdrop-btn{
        background: $green;
        color: $gray;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        margin: 5px;
        position: absolute;
        bottom: 0;
        right: 1;
        }
    }
}
.day-display{
    border-radius: $border-radius;
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4%;
    font-family: $montserrat;

    .uparrow{
        margin: auto;
        margin-top: 0%;
        bottom: 0;
        background-color: $pink;
        border: solid $green;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 2%;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    
    .menu-display{
        display: flex;
        justify-content: space-between;
        margin: 3vw;
        height: 8vw;

            .menu-display-box{
            border-radius: $border-radius;
            text-align: center;
            height: 6vw;
            padding-top: 2.5%;
            background-color: #FFFFFF;
            }
            .day{
                background-color: $gray;      
            }
    }
    .downarrow{
        margin: auto;
        margin-top: 0%;
        top: 0;
        background-color: $pink;
        border: solid $green;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 2%;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
