// .pre-page-container{
//     z-index: 2;
// }
.head-prepage{
    margin-top:5%;
}
.buttons-log{
    margin-right:2%;
}
.img-first{
    position:relative;
     width: 30%;
     height:35%;
    z-index: 0;
}
#firstSubtextPrepage{
    margin-top: 0%;
}
.title-web{
    margin:0;
}