@import "colors";
@import "fonts";

.body-jumbo{
    min-height: 25vw;
    padding: 3em inherit;
    background-color: white;
}
.cell{
    height: 1.8vw;
    width: 2.5vw;
}
.delete-button{
    color: $green;
}
.green-button{
    background-color: $green;
    color: $gray;
}