@import "colors";
@import "fonts";

.page-container{
    // width: 100%;
    // height:100%;
    margin:auto;
    margin-top:0;
}
.card{
    width: 12vw;
    height: 17vw;
    
}
.card-title{
    font-size: 1.2vw;
}
// .card-text{
//     font-size:1vw;

// }

.menuWeek{
   background: #fff;
   box-shadow: 1px 1px 1px 1px $pink;
   //height:22%;
   //width: 90%;
   //margin: 10px auto;
   padding: 3em 2em 0;
  overflow: visible;
 } 

 .align-card-buttons{
    display:flex;
    justify-content:center;

}

.weekplan-btn{
    border-radius: 5px;
    font-family: $montserrat;
    font-size:1vw;
    background-color: $green;
    color: $gray;  
    padding:0.5vw;
 //
    border: none;
}

.weekplan-btn > a  { color: $gray } /* CSS link color (red) */

// .weekplan-btn :hover { 
//     color:$green; 
//     text-decoration: none;
//     background-color: $green;
// } /* CSS link hover (green) */



.page-order-weeks, .next-previous-weeks{
    display:flex;
    justify-content:space-around;
    margin:auto;
}

.page-order-weeks > div, .next-previous-weeks > div{
    margin-right:2rem;  
    margin-bottom:2rem;
    font-family:$montserrat
}

