@import "colors";
@import "fonts";

.card{
    width: 15vw;
    height: 20vw;
}
.card-title{
    font-size: 1.3vw;
}
.menuWeek{
   background: #fff;
   box-shadow: 2px 2px 2px 1px $pink;
   
   height:20vw;
   //width: 90%;
   //margin: 10px auto;
   padding: 3em 2em 0;
  overflow: visible;
 } 
.weekplan-btn{
    border-radius: 5px;
    font-family: $montserrat;
    background-color: $green;
    color: $gray;  
    font-size: 0.6em;
    border: none;
}